server {
    listen       80;
    server_name  localhost;
​
    #charset koi8-r;
    access_log  /var/log/nginx/host.access.log  main;
    error_log  /var/log/nginx/error.log  error;
​
    root /usr/share/nginx/html/dist;

    location / {
        # 用于配合 browserHistory使用
        try_files $uri $uri/index.html /index.html;
    }

    # 添加API代理配置
    location /api/ {
        # 注意，这里的host写的是后端在docker中的服务名,因为我们的后端是用docker部署的
        proxy_pass http://backend-nestjs:8001/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
​
    #error_page  404              /404.html;
​
    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}
